div.timer-wrapper
    h2 SESSION
    p.timer 25
    div.controls
        input.start(type='image' src='http://i65.tinypic.com/28lrt5u.png')
        input.pause(type='image' src='http://i64.tinypic.com/lw27k.png')
        input.reset(type='image' src='http://i68.tinypic.com/13zpoxk.png')
        